# Dependency directory
node_modules

# Debug log from npm
npm-debug.log

# local env variables
.env

# Logs
logs
*.log

# Coverage directory used by tools like istanbul
coverage
coverage.json
coverageEnv

#Hardhat files
cache
artifacts

# truffle build directory
build/
bin/

# macOS
.DS_Store

# hardat-exposed
contracts-exposed

# openzeppelin
.openzeppelin/*